#mainTitle, h2, h3 {
  margin-top: 100px;
  color: rgba(6, 12, 74, 0.91);
}

h1, h2, h3 {
  font-family: 'Bungee', cursive;
}

.navbarContainer {
  font-family: 'Yatra One', cursive;
  margin-left: 5px;
  margin-right: 5px;
}

.container {
  background: rgba(226, 242, 234, 0.9);
  margin: 0 auto;
  border: rgba(208, 234, 219, 0.07) solid 2px;
  border-radius: 10px;
}

body {
  background: rgba(82, 197, 140, 0.7);
}
