#mainTitle, h2, h3 {
  margin-top: 100px;
}

h1, h2, h3 {
  font-family: 'Bungee', cursive;
}

.navbarContainer{
  font-family: 'Yatra One', cursive;
  margin-left: 5px;
  margin-right: 5px;
}

.container{
  background: rgba(226, 242, 234, 0.9);
  margin: 0 auto;
  border: black solid 2px;
  border-radius: 7px;
}

body {
  background: rgba(82, 197, 140, 0.7);
}
