#mainTitle, h2, h3{
  margin-top: 100px;
  color: rgba(6, 12, 74, 0.91);
}

h1, h2, h3 {
  font-family: 'Bungee', cursive;
}

.navbarContainer, h4 {
  font-family: 'Yatra One', cursive;
  margin-left: 5px;
  margin-right: 5px;
}

#intro {
  margin-top: 110px;
}
h4{
  font-size: 2em;
}

.container {
  background: rgba(226, 242, 234, 0.9);
  margin: 0 auto;
  border: rgba(208, 234, 219, 0.07) solid 2px;
  border-radius: 10px;
}

body {
  background-color: rgba(82, 197, 140, 0.7);
  background-image: url("https://content-static.upwork.com/blog/uploads/sites/4/2009/05/project-management.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#names {
  font-family: 'Changa', sans-serif;
  font-size: 20px;
  color: rgba(6, 12, 74, 0.91);
}
