<div class="container">
  <h3>Edit User</h3>
  <form ng-submit="userEditVm.updateUser()">
    <div>
      <md-input-container>
        <label for="name">Name:</label>
        <input type="text" id="name" ng-model="userEditVm.user.name">
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <label for="email">Email:</label>
        <input type="text" id="email" ng-model="userEditVm.user.email">
      </md-input-container>
    </div>
    <div>
      <md-checkbox id="typeOfUser" ng-model="userEditVm.user.typeOfUser" aria-label="PM">Project Manager ?</md-checkbox>
    </div>
    <div>
      <md-button class="md-raised" type="submit">Edit User</md-button>
    </div>
  </form>
</div>
