<h3>Add new User</h3>
<form ng-submit="userNewVm.addUser()">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" ng-model="userNewVm.newUser.name">
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="text" id="email" ng-model="userNewVm.newUser.email">
  </div>
  <div>
    <label for="typeOfUser">PM: </label>
    <input type="checkbox" id="typeOfUser" ng-model="userNewVm.newUser.typeOfUser">
  </div>
  <div>
    <input type="submit" value="Add User">
  </div>
</form>
