<div class="container">
  <div id="mainTitle">
    <h1>Project Management Software</h1>
  </div>
</div>

<div class="container" id="intro">
  <h4>With large projects, the project manager may have trouble keeping track of who is doing what. As a result, the team may not be operating at maximum efficiency. Some team members may be overloaded, while others are not busy enough. <br>
  <strong>"Project Management Software"</strong> allows PMs to stay up to date on people’s work load for maximum project efficiency.</h4>
</div>
