<div class="container">
  <h3>Add new Project</h3>
  <form ng-submit="projectNewVm.addProject()">
    <div>
      <md-input-container>
        <label for="name">Name:</label>
        <input type="text" id="name" ng-model="projectNewVm.newProject.name">
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <label for="description">Description:</label>
        <input type="text" id="description" ng-model="projectNewVm.newProject.description">
      </md-input-container>
    </div>

    <div ng-repeat="task in projectNewVm.newProject.tasks">
      <md-input-container>
        <label for="tasks">Task:</label>
        <input type="text" id="tasks" ng-model="task.description">
      </md-input-container>
      <md-datepicker ng-model="task.dueDate">Select</md-datepicker>
      <md-select placeholder="Assign to User" ng-model="task.user" style="min-width: 200px;">
        <md-option ng-value="user" ng-repeat="user in projectNewVm.users">{{user.name}}</md-option>
      </md-select>
    </div>
    <div>
      <md-button ng-click="projectNewVm.addNewTask()">+ Add New Task</md-button>
    </div>
    <div>

    </div>
    <div>
      <md-button class="md-raised" type="submit">Add Project</md-button>
    </div>
  </form>
</div>
