<div class="container">
  <h3>Add new Project</h3>
  <form ng-submit="projectNewVm.addProject()">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" ng-model="projectNewVm.newProject.name">
    </div>
    <div>
      <label for="description">Description:</label>
      <input type="text" id="description" ng-model="projectNewVm.newProject.description">
    </div>
    <div>
      <label for="user">User:</label>
      <select id="user" ng-model="projectNewVm.newProject.user">
        <option ng-repeat="user in projectNewVm.users" value="{{user.name}}">{{user.name}}</option>
      </select>
    </div>
    <div>
      <input type="submit" value="Add Project">
    </div>
  </form>
</div>
